In [24]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv(r'C:\Users\mac\ADS\assignment-4\WA_Fn-UseC_-Telco-Customer-Churn.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [11]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [47]:
#Understanding the demographics

df.groupby(['gender'])['customerID'].count()

gender
Female    3488
Male      3555
Name: customerID, dtype: int64

In [52]:
df.groupby(['Dependents'])['customerID'].count()

Dependents
No     4933
Yes    2110
Name: customerID, dtype: int64

In [49]:
# 1(a) Male and Customers without dependents

In [50]:
# 1(b) Advertisments should be targeted to male customers without dependents

In [64]:

df.groupby(['PhoneService', 'MultipleLines', 'InternetService','OnlineSecurity','OnlineBackup', ,'DeviceProtection','TechSupport','StreamingTV','StreamingMovies'])['customerID'].count()

PhoneService  MultipleLines     InternetService  OnlineSecurity       OnlineBackup
No            No phone service  DSL              No                   No                      246
                                                                      Yes                     153
                                                 Yes                  No                      149
                                                                      Yes                     134
Yes           No                DSL              No                   No                      402
                                                                      Yes                     170
                                                 Yes                  No                      241
                                                                      Yes                     235
                                Fiber optic      No                   No                      642
                                                                      Yes                     262
                                                 Yes                  No                      138
                                                                      Yes                     116
                                No               No internet service  No internet service    1184
              Yes               DSL              No                   No                      144
                                                                      Yes                     126
                                                 Yes                  No                      153
                                                                      Yes                     268
                                Fiber optic      No                   No                      761
                                                                      Yes                     592
                                                 Yes                  No                      212
                                                                      Yes                     373
                                No               No internet service  No internet service     342
Name: customerID, dtype: int64